<h2>Shopping Cart!</h2>
<ng-container *ngIf="shoppingCart$ | async as shoppingCart">
    <p>
        You have {{ shoppingCart.totalItemsCounts }} items in cart.
        <button (click)="clearCart()" class="btn float-right btn-sm btn-link" type="button">
            Clear Cart
        </button>    
    </p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center">Quantity</th>
                <th class="text-right">Price</th>
                <th class="text-right">Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of shoppingCart.items">
                <td>
                    <div [style.backgroundImage]="'url(' + item.product.imageUrl + ')'" class="product-thumbnail"></div>
                </td>
                <td>{{ item.product.title }}</td>
                <td class="text-center">
                    <app-product-quantity
                        [product]="item.product"
                        [shoppingCart]="shoppingCart"
                        >
                    </app-product-quantity>
                </td>
                <td class="text-right">{{ item.product.price | currency:'USD' }}</td>
                <td class="text-right">{{ (item.quantity * item.product.price) | currency:'USD' }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th [attr.colspan]="4">
                    <a 
                        routerLink="/checkout" 
                        class="btn btn-primary">
                        Checkout
                    </a>   
                </th>
                <th class="text-right">
                    Total Price: {{ shoppingCart.totalPriceOfCartItems | currency:'USD' }}
                </th>
            </tr>
        </tfoot>
    </table>
</ng-container>